@reference "tailwindcss";

:root {
  --text-normal: #2e2e34;
  --text-subtle: #595b63;
  --text-muted: #6C6D76;
  --text-strong: #28282d;
  --border-normal: rgb(151 151 155 / 0.36);
  --daidien-color-primary: #5865f2;
}

/* START REGION */
/* You MUST NOT EDIT inside this region */
.bg-base {
  @apply bg-neutral-100 dark:bg-neutral-800;
}

.bg-surface {
  @apply bg-neutral-50 dark:bg-neutral-700;
}

.bg-hover {
  @apply bg-neutral-200 dark:bg-neutral-600;
}

.bg-themed {
  background-color: var(--daidien-color-primary);
}

.bg-success {
  @apply bg-green-600/10 text-green-600;
}

.bg-error {
  @apply bg-red-600/10 text-red-600;
}

.bg-warning {
  @apply bg-yellow-600/10 text-yellow-600;
}

.bg-info {
  @apply bg-blue-600/10 text-blue-600;
}

.text-strong {
  @apply text-neutral-950 dark:text-neutral-50;
}

.text-normal {
  @apply text-neutral-900 dark:text-neutral-100;
}

.text-subtle {
  @apply text-neutral-700 dark:text-neutral-300;
}

.text-strong {
  @apply text-neutral-600 dark:text-neutral-400;
}

.text-themed {
  background-color: rgb(var(--daidien-color-primary) / 0.1);
  color: var(--daidien-color-primary);
}

.text-success {
  @apply text-green-600;
}

.text-error {
  @apply text-red-600;
}

.text-warning {
  @apply text-yellow-600;
}

.text-info {
  @apply text-blue-600;
}

.border-normal {
  border-color: var(--border-normal);
}

/* END REGION */



.dc-md-live {
  @apply w-full break-words select-text bg-transparent px-5 py-3.5 text-base/5.5 font-medium outline-none;
  color: var(--text-normal);
}

.dc-md-live p {
  @apply mb-2;
}

.dc-md-live a {
  @apply break-words cursor-pointer no-underline text-blue-600;
}

.dc-md-live strong,
.dc-md-live h1,
.dc-md-live h2,
.dc-md-live h3,
.dc-md-live h4,
.dc-md-live h5,
.dc-md-live h6 {
  @apply font-bold;
}

.dc-md-live em {
  @apply italic;
}

.dc-md-live pre {
  @apply mt-1.5 rounded p-0 text-xs font-mono leading-4 whitespace-pre-wrap;
}

.dc-md-live blockquote,
.dc-md-live pre {
  @apply box-border max-w-9/10;
}

.dc-md-live blockquote {
  @apply my-1.5 indent-0 border-l-4 border-solid border-gray-300 pl-4 pr-3 dark:border-gray-600;
  color: var(--text-subtle);
}

.dc-md-live blockquote pre {
  @apply max-w-full;
}

.dc-md-live code {
  @apply border indent-0 whitespace-pre-wrap text-sm leading-5 bg-indigo-500/5 dark:bg-indigo-500/10;
  border-color: var(--border-normal);
}

.dc-md-live code.inline {
  @apply -my-1 mx-0 h-auto w-auto rounded px-1 py-0 text-sm font-mono indent-0 whitespace-pre-wrap;
}

.dc-md-live li {
  @apply mb-1 whitespace-break-spaces;
}

.dc-md-live ol,
.dc-md-live ul {
  @apply mt-1 mb-0 list-outside;
}

.dc-md-live ul {
  @apply list-disc;
}

.dc-md-live ol {
  @apply list-decimal;
}

.dc-md-live ol ul,
.dc-md-live ul ul {
  @apply list-[circle] mb-0;
}

.dc-md-live ol ol,
.dc-md-live ul ol {
  @apply mb-0;
}

.dc-md-live h1,
.dc-md-live h2,
.dc-md-live h3,
.dc-md-live h4,
.dc-md-live h5,
.dc-md-live h6 {
  @apply mx-0 mt-4 mb-1 leading-5;
  color: var(--text-strong);
}

.dc-md-live h1 {
  @apply mt-4 mb-2 text-2xl;
}

.dc-md-live h2 {
  @apply mt-4 mb-2 text-xl;
}

.dc-md-live h3 {
  @apply mt-4 mb-2 text-base;
}

.dc-md-live h1:first-child,
.dc-md-live h2:first-child {
  @apply mt-2;
}

.dc-md-live h3:first-child,
.dc-md-live h4:first-child,
.dc-md-live h5:first-child,
.dc-md-live h6:first-child {
  @apply mt-1;
}


