@import 'tailwindcss';

:root {
  --border-normal: rgb(151 151 155 / 0.36);
  --daidien-color-primary: #915934;
  --daidien-color-primary-rgb: 145 89 52;
}

@utility bg-base {
  @apply bg-neutral-100 dark:bg-neutral-900;
}

@utility bg-surface {
  @apply bg-neutral-50 dark:bg-neutral-950;
}

@utility bg-hover {
  @apply bg-neutral-200 dark:bg-neutral-600;
}

@utility bg-themed {
  background-color: var(--daidien-color-primary);
}

@utility bg-vibrant {
  background-image: radial-gradient(
      ellipse at top left,
      rgb(255 255 255  / 0.5),
      transparent 60%
    ),
    radial-gradient(
      ellipse at bottom right,
      rgb(255 255 255  / 0.5),
      transparent 60%
    ),
    linear-gradient(
      135deg,
      rgb(var(--daidien-color-primary-rgb) / 1) 0%,
      rgb(var(--daidien-color-primary-rgb) / 0.6) 50%,
      #1e1f22 100%
    );
  background-color: var(--daidien-color-primary);
}

@utility bg-success {
  @apply bg-green-600/10 text-green-600;
}

@utility bg-error {
  @apply bg-red-600/10 text-red-600;
}

@utility bg-warning {
  @apply bg-yellow-600/10 text-yellow-600;
}

@utility bg-info {
  @apply bg-blue-600/10 text-blue-600;
}

@utility text-strong {
  @apply text-neutral-950 dark:text-neutral-50;
}

@utility text-normal {
  @apply text-neutral-900 dark:text-neutral-100;
}

@utility text-subtle {
  @apply text-neutral-700 dark:text-neutral-300;
}

@utility text-muted {
  @apply text-neutral-600 dark:text-neutral-400;
}

@utility text-themed {
  background-color: rgb(var(--daidien-color-primary-rgb) / 0.1);
  color: var(--daidien-color-primary);
}

@utility text-success {
  @apply text-green-600;
}

@utility text-error {
  @apply text-red-600;
}

@utility text-warning {
  @apply text-yellow-600;
}

@utility text-info {
  @apply text-blue-600;
}

@utility border-normal {
  border-color: var(--border-normal);
}

@utility border-themed {
  border-color: var(--daidien-color-primary);
}
